* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background: rgb(22,22,148);
background: linear-gradient(90deg, rgba(22,22,148,1) 0%, rgba(3,3,34,1) 50%, rgba(22,22,148,1) 100%);
  background-attachment: fixed;
}
