* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(22, 22, 148);
  background: linear-gradient(
    90deg,
    rgba(22, 22, 148, 1) 0%,
    rgba(3, 3, 34, 1) 50%,
    rgba(22, 22, 148, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#zacznij > button {
  width: 15vw;
  padding: 1vw;
  font-size: 1.5vw;
  border-radius: 90px;
  color: white;
  transition: 1s;
  border: 1px solid black;
  text-shadow: 2px 2px black;
  font-family: 'Roboto', sans-serif;
  margin-top: 45vh;
  background: rgb(19, 51, 94);
  background: linear-gradient(
    50deg,
    rgba(19, 51, 94, 1) 0%,
    rgba(24, 77, 143, 0.9500175070028011) 12%,
    rgba(17, 40, 83, 0.9472163865546218) 40%,
    rgba(17, 40, 83, 0.95) 60%,
    rgba(24, 77, 143, 0.95) 88%,
    rgba(19, 51, 94, 1) 100%
  );
}
#zacznij > button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.6s;
  border: 1px solid white;
}
#logo {
  width: 30vw;
  box-shadow: 0.3vw 0.3vw 15px white;
  border-radius: 50%;
  border: 3px solid black;
  animation: drop 2.5s 1s forwards ease-out, rotate 2s 3.7s;
  opacity: 0;
  display: none;
}
#logo-small {
  width: 10vw;
  margin-top: 2vw;
  box-shadow: 0.1vw 0.1vw 10px white;
  border-radius: 50%;
  border: 3px solid black;
  display: none;
}
#h2{
  font-size: 2vw;
}
#info {
  width: 65vw;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.25)
  );
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.2vw;
  margin-top: 4%;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
  padding: 3vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  /*letter-spacing: 3px;*/
}
#start {
  display: none;
  margin-top: 4%;
}
#start > a > button {
  width: 15vw;
  padding: 1vw;
  font-size: 1.5vw;
  border-radius: 90px;
  color: white;
  transition: 1s;
  border: 1px solid black;
  text-shadow: 2px 2px black;
  font-family: 'Roboto', sans-serif;
  background: rgb(19, 51, 94);
  background: linear-gradient(
    50deg,
    rgba(19, 51, 94, 1) 0%,
    rgba(24, 77, 143, 0.9500175070028011) 12%,
    rgba(17, 40, 83, 0.9472163865546218) 40%,
    rgba(17, 40, 83, 0.95) 60%,
    rgba(24, 77, 143, 0.95) 88%,
    rgba(19, 51, 94, 1) 100%
  );
}
#start > a > button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.6s;
  border: 1px solid white;
}
#output {
  display: none;
}

#glowna {
  text-align: center;
  display: none;
}
input[type='radio'] {
  display: none;
}
label {
  border: 1px solid red;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  display: none;
}
.przyciskWyboru {
  position: relative;
  display: none;
}
.modal-container {
  display: none;
  z-index: 1;
  animation: fadeIn 1.2s ease-in-out;
  animation-iteration-count: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 20px;
  border: 3px solid lightgrey;
}
#pyt {
  display: none;
}
#startujemy {
  display: none;
}
@keyframes example {
  from {
    background-color: transparent;
  }
  to {
    background-color: red;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes drop {
  from {
  }
  to {
    opacity: 1;
    margin-top: 22vh;
  }
}
@keyframes rotate {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 2160px) {
  .modal-container {
    width: 50%;
    margin-left: 25%;
  }
  .modal-container h1 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 992px) {
  .modal-container {
    width: 50%;
    margin-left: 25%;
  }
  .modal-container h1 {
    font-size: 2em;
  }
}
