* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(22, 22, 148);
  background: linear-gradient(
    90deg,
    rgba(22, 22, 148, 1) 0%,
    rgba(3, 3, 34, 1) 50%,
    rgba(22, 22, 148, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
  color: white;
}
#startujemy {
  display: none;
}
#output {
  width: 100%;
  margin-top: 35vh;
  text-align: center;
  display: none;
  font-size: 10vw;
  color: white;
}

#glowna {
  text-align: center;
  height: 100%;
  margin-top: 12vw;
}
#pasek-zmienny div {
  height: 1vw;
  animation: pasek calc(var(--czas) * 1s) steps(var(--czas)) forwards;
  transform-origin: left center;
}
#pasek-zmienny[data-style="plynnie"] div {
  animation: pasek calc(var(--czas) * 1s) linear forwards;
}
#pasek-zmienny[data-color="blue"] div {
  background: linear-gradient(to bottom, #64b5f6, #1565c0); 
}
@keyframes pasek {
  to {
      transform: scaleX(0);
  }
}
input[type='radio'] {
  display: none;
}
#pyt {
  font-size: 4vw;
}
.wybory {
  border-radius: 10px;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.25)
  );
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
  font-size: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 95%;
}
.wybory:hover{
  cursor: pointer;
}
.przyciskWyboru {
  position: relative;
  width: 5vw;
  padding: 1vw;
  font-size: 1.9vw;
  border-radius: 90px;
  color: white;
  transition: 1s;
  animation: fadeIn 1.2s ease-in-out;
  border: 1px solid black;
  text-shadow: 2px 2px black;
  font-family: 'Roboto', sans-serif;
  background: rgb(19, 51, 94);
  background: linear-gradient(
    50deg,
    rgba(19, 51, 94, 1) 0%,
    rgba(24, 77, 143, 0.9500175070028011) 12%,
    rgba(17, 40, 83, 0.9472163865546218) 40%,
    rgba(17, 40, 83, 0.95) 60%,
    rgba(24, 77, 143, 0.95) 88%,
    rgba(19, 51, 94, 1) 100%
  );
}
.przyciskWyboru:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.6s;
  border: 1px solid white;
}
.modal-container {
  z-index: 1;
  animation: fadeIn 1.2s ease-in-out;
  animation-iteration-count: 1;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.25)
  );
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 20px;
  border: 3px solid lightgrey;
  display: none;
  margin-top: 25vh;
  padding: 1vw;
}
.h2{
  font-size: 2vw;
  margin: 2vw;
}
.ponownie {
  margin-left: 42%;
  margin-top: 3vw;
  display: none;
  position: absolute;
  width: 16vw;
  padding: 1vw;
  font-size: 1.5vw;
  border-radius: 90px;
  color: white;
  transition: 1s;
  animation: fadeIn 1.2s ease-in-out;
  border: 1px solid black;
  text-shadow: 2px 2px black;
  font-family: 'Roboto', sans-serif;
  background: rgb(19, 51, 94);
  background: linear-gradient(
    50deg,
    rgba(19, 51, 94, 1) 0%,
    rgba(24, 77, 143, 0.9500175070028011) 12%,
    rgba(17, 40, 83, 0.9472163865546218) 40%,
    rgba(17, 40, 83, 0.95) 60%,
    rgba(24, 77, 143, 0.95) 88%,
    rgba(19, 51, 94, 1) 100%
  );
}
.ponownie:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.6s;
  border: 1px solid white;
}
@keyframes example {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgb(209, 142, 18);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes drop {
  from {
  }
  to {
    opacity: 1;
    margin-top: 25vh;
  }
}
@keyframes rotate {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 2160px) {
  .modal-container {
    width: 50%;
    margin-left: 25%;
  }
  .modal-container h1 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 992px) {
  .modal-container {
    width: 50%;
    margin-left: 25%;
  }
  .modal-container h1 {
    font-size: 2em;
  }
}
