* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(22, 22, 148);
  background: linear-gradient(
    90deg,
    rgba(22, 22, 148, 1) 0%,
    rgba(3, 3, 34, 1) 50%,
    rgba(22, 22, 148, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
  color: white;
}
#startujemy {
  display: none;
}
#output {
  display: none;
}

#glowna {
  text-align: center;
}
#pasek-zmienny div {
  height: 1vw;
  animation: pasek calc(var(--czas) * 1s) steps(var(--czas)) forwards;
  transform-origin: left center;
}
#pasek-zmienny[data-style="plynnie"] div {
  animation: pasek calc(var(--czas) * 1s) linear forwards;
}
#pasek-zmienny[data-color="blue"] div {
  background: linear-gradient(to bottom, #64b5f6, #1565c0); 
}
@keyframes pasek {
  to {
      transform: scaleX(0);
  }
}
input[type='radio'] {
  display: none;
}
label {
  border: 1px solid red;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.przyciskWyboru {
  position: relative;
}
.modal-container {
  z-index: 1;
  animation: fadeIn 1.2s ease-in-out;
  animation-iteration-count: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 20px;
  border: 3px solid lightgrey;
  display: none;
}
.ponownie {
  margin-left: 42%;
  display: none;
  position: absolute;
  width: 15vw;
  padding: 1vw;
  font-size: 1.5vw;
  border-radius: 90px;
  color: white;
  transition: 1s;
  animation: fadeIn 1.2s ease-in-out;
  border: 1px solid black;
  text-shadow: 2px 2px black;
  font-family: 'Roboto', sans-serif;
  /* background: rgb(19,51,94);
    background: linear-gradient(90deg, rgba(19,51,94,1) 0%, rgba(24,77,143,0.9500175070028011) 12%, rgba(17,40,83,0.9472163865546218) 40%, rgba(17,40,83,0.95) 60%, rgba(24,77,143,0.95) 88%, rgba(19,51,94,1) 100%); */
  background: rgb(19, 51, 94);
  background: linear-gradient(
    50deg,
    rgba(19, 51, 94, 1) 0%,
    rgba(24, 77, 143, 0.9500175070028011) 12%,
    rgba(17, 40, 83, 0.9472163865546218) 40%,
    rgba(17, 40, 83, 0.95) 60%,
    rgba(24, 77, 143, 0.95) 88%,
    rgba(19, 51, 94, 1) 100%
  );
}
.ponownie:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.6s;
  border: 1px solid white;
}
@keyframes example {
  from {
    background-color: transparent;
  }
  to {
    background-color: red;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes drop {
  from {
  }
  to {
    opacity: 1;
    margin-top: 25vh;
  }
}
@keyframes rotate {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 2160px) {
  .modal-container {
    width: 50%;
    margin-left: 25%;
  }
  .modal-container h1 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 992px) {
  .modal-container {
    width: 50%;
    margin-left: 25%;
  }
  .modal-container h1 {
    font-size: 2em;
  }
}
